#wrapper{
    width: 1000px;
    height: auto;
    margin: auto;
    background-color: rgb(0, 0, 92); 
}
#search_box{
    border-radius: 15px;
    margin-top: -80px;
    margin-left: 735px;
    height: 50px;
    width: 250px;
    background-color: gray;
}
img{
    width: 300px;
    height: 85px;
    margin-left: 20px;
    margin-top: 20px;
}
.header{
    border-radius: 5px;
    margin-left: 50px;
    height: 40px;
    width: 900px;
    list-style-type: none;
    text-align:center;
    display: inline-block; 
    font-size: 30px; 
    background-color: rgba(0, 0, 71, 0.404);
    color: white;
}
.header li{
    margin-left: 20px;
    list-style-type: none;
    text-align:center;
    display: inline-block;
} 
#navigation{
    height: 300px;
    width: 250px;
    font-size: 10px;
    display: inline-block;
    background-color: rgb(0, 0, 92);
}
#navigation li{
    font-size: 20px;
    color: white;
    text-align: center;
}
#main{
    height: 300px;
    width: 745px;
    display: inline-block;
    vertical-align: top;
    background-color: rgb(0, 0, 92);
}
#main li{
    font-style: italic;
}
p{
    font-size: 20px;
    color: white;
}
.box{
    height: 250px;
    width: 500px;
    border: 0px solid;
    margin-left: 0px;
    display: inline-block;
    vertical-align: top;
    background-color: white;
}
.box2{   
    height: 250px;
    width: 500px;
    border: 0px solid;
    margin-right: 0px;
    display: inline-block;
    vertical-align: top;
    background-color: white;
}
#footer{
    height: 125px;
    width: auto;
    background-color: rgb(0, 0, 117);
}
#search{
    margin-top: 5px;
    margin-left: 5px;
    padding: 5px;
    height: 30px;
}
#Go{
    height: 25px;
    width: 30px;
}
#navigation ul{
    list-style-type: none;
    text-align: center;
    font-size: 20px;
    color: white;
}
ul2{
    list-style-type: none;
    text-align: center;
    font-size: 20px;
    color: yellow;
}
p1{
    text-align: center;
    font-size: 20px;
    color: white;
    margin-left: 295px;
}
h1{
    text-align: center;
    font-size: 30px;
}
.box li{
    text-align: center;
    color: rgb(48, 48, 247);
}
.box2 li{
    text-align: center;
    color: rgb(48, 48, 247);
}
p2{
    font-size: 15px;
}
#footer li{
    margin-left: 110px;
    margin-top: 60px;
    list-style-type: none;
    text-align:center;
    display: inline-block;
    color: rgb(64, 64, 255);
}
#footer ul{
    margin-top: 0px;
    margin-bottom: 0px;
}